.card_section {
  width: auto;
  height: auto;
  display: flex;
  margin-left: 20%;
  justify-content: center;
  margin-right: 20%;
}
@media only screen and (min-width: 320px) and (max-width: 780px) {
  .card_section {
    width: auto;
    height: auto;
    display: flex;
    margin-left: 7%;
    justify-content: center;
    margin-right: 7%;
  }
}
