.work_section_our {
  background-image: linear-gradient(to right, #00716e, #00aea9);
  color: #fff !important;
}
.service_footer ul {
  list-style: none !important;
  padding: 0px;
}
.footer_all {
  padding-left: 28px;
}
.footer_icons i {
  font-size: 48px;
  padding-left: 20px;
  cursor: pointer;
}
